Repository zalando/zally, pull requests merged in 2021-07, with the labels that each got.

#1280 Fix github-integration docker image build
  github-integration/Dockerfile
  github-integration/build.gradle.kts
Labels: Server, bug

#1283 Add a unit test which uses the API with unresolvable external parameter
  server/zally-ruleset-zally/src/test/kotlin/org/zalando/zally/ruleset/zally/PathParameterRuleTest.kt
Labels: Server, enhancement

#1277 fix: supported references for problem+json (#1274)
  server/zally-ruleset-zalando/src/main/kotlin/org/zalando/zally/ruleset/zalando/JsonProblemAsDefaultResponseRule.kt
  server/zally-ruleset-zalando/src/test/kotlin/org/zalando/zally/ruleset/zalando/JsonProblemAsDefaultResponseRuleTest.kt
  server/zally-test/src/main/resources/fixtures/api_spa.yaml
  server/zally-test/src/main/resources/fixtures/no_must_violations.yaml
Labels: Server, bug, enhancement

#1282 Drop `json_payload` column.
  server/zally-server/src/main/kotlin/org/zalando/zally/apireview/ApiReview.kt
  server/zally-server/src/main/resources/db/migration/V006__drop_json_payload_column.sql
Labels: area: server, type: enhancement

#1293 Replace Guava classloader with a default Java classloader
  server/zally-ruleset-zalando/src/main/kotlin/org/zalando/zally/ruleset/zalando/UseOpenApiRule.kt
Labels: technical-task

#1294 Add index on `api_review_id` column in `rule_violations` table.
  server/zally-server/src/main/resources/db/migration/V007__add_index_in_rule_violation.sql
Labels: area: server

#1295 Remove `jcenter` repository dependency.
  server/build.gradle.kts
Labels: technical-task
