Repository zalando/zally, pull requests merged in 2022-03, with the labels that each got.

#1367 feat: change severity of proprietary header rule (#1367)
  server/zally-ruleset-zalando/src/main/kotlin/org/zalando/zally/ruleset/zalando/ProprietaryHeadersRule.kt
Labels: guidelines-update, rule change, area: rules

#1362 Remove "type" field from common types list
  server/zally-ruleset-zalando/src/main/resources/reference.conf
Labels: guidelines-update, rule change, area: rules

#1361 Update Postgres version and cleanup project
  .zally.yaml
  build-and-run.sh
  docker-compose-bark.yaml
  server/zally-server/build.gradle.kts
Labels: area: server, dependencies

#1368 fix: missing annotation changes (#1367)
  server/zally-ruleset-zalando/src/main/kotlin/org/zalando/zally/ruleset/zalando/ProprietaryHeadersRule.kt
Labels: type: bug, rule change, area: rules
